{% extends "main.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django</title>
</head>
<body>
    <div style="padding: 40px;">
        <h1 style="color: brown; font-size: 40px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 700;">hello from django</h1>
        <h2>name : {{name}}</h2>
        <h2>length : {{name | length}}</h2>
        <h2>length : {{name | length}}</h2>
    </div>
</body>
</html>
{% endblock content %}
